html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

html, body{
  height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgb(68, 16, 16);
  
}

ul, ol, li, h1, h2, h3, h4, h5, h6, img, a, p, span {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1125px;
  margin: 0 auto;
  padding: 0 15px;
}

// @media screen and (max-width: 1460px) {
//   .container {
//     padding: 0;
//   }
// }

// .left__vidgets{
//   flex-grow: 1;
//   flex-basis: 255px;
//   flex-shrink: 0;
//   background-color: white;
//   min-height: 100%;
//   position: relative;
// }

// .content__wrapper {
//   flex-grow: 3;
//   flex-basis: 870px;
//   flex-shrink: 0;
// }