@import 'vars';
@import 'fonts';
@import 'global';
//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

//start header
.header__inner,
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    height: 100px;
}
.header__logo {
    background: linear-gradient(45deg, #f0b7a1 0%,#752201 0%,#752201 24%,#752201 24%,#8c3310 50%,#bf6e4e 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    a {
    font-size: 35px;
    font-weight: 700;
    color: #752201;
}
}
    

.header__contact {
    padding-top: 20px;
    padding-bottom: 20px;
    a {
        color: #752201; 
    }
   
    li {
        display: inline-block;
        & +li {
            padding-left: 70px;
        }
        }

    .contact__phone {
        position: relative;
        &::before {
            content: "\e901";
            font-family: "icomoon";
            position: absolute;
            color: #665cac;
            left: -20px;
        }
    }
    .contact__social {
        position: relative;
        &::before {
            content: "\e900";
            font-family: "icomoon";
            position: absolute;
            color: #e4405f;
            left: -20px;
    }
    }
}
.header__menu {
    height: 70px;
    width: 100%;
    background-color: #BC816B;
    // position: fixed;
    // top: 0;
    // z-index: 100;

    .menu__list li{
        list-style: none;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 25px;

        & + li {
            padding-left: 70px;
        }
        a {
            color: #ffffff;
            &:hover {
                color: #752201;
            }
        }
    }
}

//end header
//start slider
.slogan {
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.slogan__text {
    text-align: right;
    color: #f5f5f5;
    padding-top: 200px;  

    .slogan__title {
        font-size: 25px;
        padding-bottom: 20px;
    }
    span {
         font-size: 17px;
     }
}

//start product-price
.product-price {
    color: rgb(68, 16, 16);
}
h2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 45px;
    font-size: 29px;
}

.product__inner span,
.price__inner span {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
}

.product__items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 70px;
}
    .product__item-title {
        font-size: 18px;
        padding-bottom: 5px;
        border-bottom: 1px solid #d1caca;
    }
    .item__list {
        position: relative;
        min-height: 160px;
        padding-top: 15px;

        li {
        list-style: none;
        padding-bottom: 7px;
        padding-left: 15px;

        & + li::before {
            content: "\f105";
            font-family: "icomoon";
            position: absolute;
            left: 5px;
            
        }
        }
    }
    .price__items {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .price__item img {
        width: 400px;
    }
    .price__item-title {
        text-align: right;
    }


//start order
.order  {
    background-color: #BC816B;
    color: #f5f5f5;
    &__inner {
        padding-top: 27px;
    }
}
.order__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 170px;
}

.order__item {
    width: 33.3%;
    & + div {
        margin-left: 35px;
    }
    span::before {
        padding-left: 50px;
        font-size: 57px;
    }
    .order__item-title {
        padding-top: 45px;
        padding-bottom: 8px;
        font-size: 19px;
        font-weight: 500;
        border-bottom: 1px solid #d1caca;
    }
    p {
        padding-top: 15px;
    }
}
//end order
//start about-us

.about-us__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 170px;
}
.about-us__item {
        width: 30%;

        & + div {
            margin-left: 35px;
        }
    }
    .item__title {
        font-family: 'Roboto', sans-serif !important;
        padding-top: 45px;
        padding-bottom: 8px;
        padding-left: 32px;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid #d1caca;
        position: relative;
        
        &::before {
            font-family: 'icomoon';
            position: absolute;
            left: 0px;
        }
    }
    p {
        padding-top: 15px;
        line-height: 24px;
    }

//end about-us

//
.reviews {
    background-color:#BC816B;
    color: #f5f5f5;
}
.reviews__items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
   
}

.reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    & + div {
        margin-left: 35px;
    }

    .item__avatar {
        border-radius: 50%;
    }
}

//



//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';