@import 'vars';
@import 'fonts';
@import 'global';
//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

//start header
.header__inner,
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__inner {
    height: 100px;
}
.header__logo {
    background: linear-gradient(45deg, #f0b7a1 0%,#752201 0%,#752201 24%,#752201 24%,#8c3310 50%,#bf6e4e 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    a {
    font-size: 35px;
    font-weight: 700;
    color: #752201;
}
}
    

.header__contact {
    padding-top: 20px;
    padding-bottom: 20px;
    a {
        color: #752201; 
    }
   
    li {
        display: inline-block;
        & +li {
            padding-left: 70px;
        }
        }

    .contact__phone {
        position: relative;
        &::before {
            content: "\e901";
            font-family: "icomoon";
            position: absolute;
            color: #665cac;
            left: -20px;
        }
    }
    .contact__social {
        position: relative;
        &::before {
            content: "\e900";
            font-family: "icomoon";
            position: absolute;
            color: #e4405f;
            left: -20px;
    }
    }
}
.header__menu {
    height: 70px;
    background-color: #BC816B;
    .menu__list li{
        list-style: none;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 25px;

        & + li {
            padding-left: 70px;
        }
        a {
            color: #ffffff;
            &:hover {
                color: #752201;
            }
        }
    }
}

//end header
//start slider

.slider__item {
    width: 603px;
    height: 603px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

//end slider

 






//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';